<!doctype html>
{% autoescape true %}
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/thirdparty/slick/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>

    <title>{% block title %}{% endblock %} - Happy Pet - Hotel y Guardería para perros y gatos</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="main-container" class="row small-collapse">
      <div class="small-12 columns">
<!--
        <div id="top" class="row small-collapse">          
          <div class="small-3 columns">
            <div class="logo-container">
              <a href="/">
                <img src="img/happyPetHouse.png" alt="Happy Pet"/>
              </a>
            </div>
          </div>
          <div class="small-9 columns">
            <div class="name-container">
              <img src="/img/LogoLetras.png"/>
            </div>
          </div>
        </div>
-->

        <div id="navbar" class="row  small-collapse">
          <nav class="top-bar" data-topbar role="navigation">
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="left">
                <li><a href="/hotel">Hotel</a></li>
                <li><a href="/guarderia">Guardería</a></li>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Pet Shop</a></li>
                <li><a href="#">Acerca de Happy Pet</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </section>
          </nav>
        </div>

        <div id="content" class="row small-collapse">
          {% block content %}{% endblock %}
        </div>

        <footer class="row small-collapse">          
          <div class="small-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="small-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Contacto</a></li>
              <li><a href="http://instagram.com/"><img src="/img/instagram10.svg"/></a></li>
              <a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            </ul>
          </div> 
        </footer>

    </div>
    </div><!--  End of body container-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/slick/slick.js"></script>
  <script type="text/javascript"  src="js/app.js"></script>
  {% block scripts %}{% endblock %}
  </body>
</html>
{% endautoescape %}